.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 25px;
   text-decoration: none;
}